<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Celulares</title>
    <link rel="stylesheet" type="text/css" href="css/archivocss2.css">
	<style> 
	.menu{ border: 1px solid black; text-align: center; }
	.contenido{ border: 1px solid blue; margin-top: 20px; }
	.pie_pagina{border: 1px solid red ; text-align: center;
	  margin-top: 20px;}
</style>
</head>
<body>

     <div class="header">
		
		<h1>Electrick</h1>
		<p>En Esta Pagina Se Venden Aparatos Electronicos</p>
	</div>

	<div class="menu">
		<span><a href="mipagina1.html">inicio</a></span>
		<span><a href="mipagina2.html">consolas</a></span>
		<span><a href="mipagina3.html">celulares</a></span>

	</div>

	<div class="contenido">
		<div class="izquierda3">
			<div class="item3">
				<h2>samasung note 9</h2>
				<h5> 256gb $12000</h5>
				<img src="samsung note 9.jpg" alt="" class="imagen5">
               </div>
           </div>
       <div class="derecha3">
			<div class="item3">
				<h2>iphone Xs Max</h2>
				<h5> 500gb $18000 </h5>
				<img src="iphone Xs max.jpg" alt="" class="imagen6" >
               </div>
           </div>
       </div>





	</div><hr>
	<div class="footer">
		
		<h2>2019 &copy;</h2>
	</div>

</body>
</html>
